<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="nav nav-tabs sticky-top">
    <a class="nav-link" href="/">Home</a>
    <%- include('shared/user_nav.ejs') %>
</nav>
<input type="hidden" value="<%= book.id_book %>" id="id_book">
<div class="container">
    <%- include('shared/alert.ejs') %>
    <div class="container">
        <h1>Book Details</h1>
        <div class="row">
            <div class="col-md-8">
                <h2><%= `${book.book_title}` %></h2>
                <p>By <%= `${book.author}` %></p>
                <p>Rating: <%= book.avg_score %></p>
                <hr>
                <h3>Chapters</h3>
                <ul id="chapter_list">
                    <% chapters.forEach(function(chapter) { %>
                        <li><a href="/chapter/<%= chapter.id_chapter %>"><%= chapter.chapter_title %></a></li>
                    <% }); %>
                </ul>
                <button class="btn btn-primary" id="prev">Previous page</button>
                <button class="btn btn-primary" id="next">Next page</button>
                <% if (user && user.id_user === book.authorId) { %>
                    <a href=<%= `/book/${book.id_book}/publish` %>>
                        <button class="btn btn-primary">Publish new chapter</button>
                    </a>
                <% } %>
                <hr>
                <h3>Reviews</h3>
                <% reviews.forEach(function(review) { %>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title"><%= review.by %></h4>
                            <p class="card-text"><%= review.text_review %></p>
                            <p class="card-text"><%= review.avg_score %> out of 5</p>
                            <p class="card-text">By <%= `${review.author}` %></p>
                        </div>
                    </div>
                <% }); %>
            </div>
            <div class="col-md-4">
                <!--                <img src="https://www.grouphealth.ca/wp-content/uploads/2018/05/placeholder-image.png"-->
                <!--                     alt="<%= book.book_title %> cover" class="img-fluid">-->
                <br><br>
                <% if (user && user.id_user === book.authorId) { %>
                    <a href=<%= `/book/${book.id_book}/edit` %>>
                        <button class="btn btn-primary">Edit book</button>
                    </a>
                <% } %>
            </div>
        </div>
    </div>
</div>
<script src="/views/book_view.js">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>
</html>