<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report chapter</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="nav nav-tabs sticky-top">
    <a class="nav-link" href="/">Home</a>
    <%- include('shared/user_nav.ejs') %>
</nav>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <%- include('shared/alert.ejs') %>
                <div class="card-header">
                    You want to repost chapter of user <%= chapter.author %>
                </div>
                <div class="card-body">
                    <form>
                        <input type="hidden" id="id_chapter" value="<%- chapter.id_chapter %>">
                        <input type="hidden" id="id_book" value="<%- chapter.id_book %>">
                        <div class="form-group">
                            <label for="report_content">Describe why you want to report it: </label>
                            <input type="text" class="form-control" id="report_content" name="report_content" required
                                   placeholder="Description">
                        </div>
                        <button type="submit" class="btn btn-primary" id="edit">Submit report</button>
                    </form>
                    <a href="<%= urlToGoBack %>" type="submit" class="btn btn-primary" id="go_back">Go back</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('shared/alert_js.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="/views/report_chapter_page.js"></script>
<%- include('shared/edit_btn_init.ejs') %>
</body>
</html>